@import "./md-colors";

.card-editor.object-type-factsheet
  background-color $md-grey-100

  header
    background-color $md-amber-900
    color white

.card-editor.object-type-fact
  background-color $md-grey-100

  header
    background-color $md-amber-700
    color white

.card-editor.object-type-skillset
  background-color $md-grey-100

  header
    background-color $md-teal-900
    color white

.card-editor.object-type-skill
  background-color $md-grey-100

  header
    background-color $md-teal-700
    color white

.card-editor.object-type-bias
  background-color $md-grey-100

  header
    background-color $md-blue-900
    color white
